#logo1 {
    width: 3%;
   padding-left: 6px;
}

#banner {
    width: 100%;
}

.Principal {
    background: #FFFFFF;
    padding: 30px;
}

.titulo-principal {
    padding-left: 20px;
}

.titulo-centralizado  {
    text-align:center
}

p {
    text-align:center
} 

#missao {
    font-size: 20px
}

em strong {
     color: #FF0000
}

.itens {
    font-style:italic
}

.Benefícios {
    background: #FFFFFF;
    padding: 20px;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembenefícios {
    width: 50%;
}
